mixin comment(commentData)
    .comment
        if commentData.admin
            em (Posted by Admin)
        .date=commentData.date
        .author=commentData.author
        .text=commentData.text

doctype html
html
    head
        title Yes Baby!
        style.
            .comment {
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                margin: 5px 0;
                border: 1px solid #555;
                width: 250px;
            }
            .date { font-size: 85%; text-align: right; }
            .author { font-size: 110%; font-weight: bold; }
            .text { font-size: 100%; }
    body
        include includes/nav
        h3 HOME

        - const c = { date: "08-31-2018", author: "Josh", text: "Hello", admin: false };
        +comment(c)
        - const c1 = { date: "05-23-2018", author: "Cats", text: "Sup", admin: true  };
        +comment(c1)
